<div class="reply_item" >
  <div class="user" > 
    <a href="/user/<%= reply.author.name %>"><img src="/images/avatar.jpg" /></a>
    <a href="/home/<%= reply.author.name %>"><%= reply.author.name %></a>
    <% if(reply.author.name == topic.author.name){ %>
      <span style="color:#fff; background-color: #337ab7; padding:3px 3px; ">作者</span>
    <% } %>    
    <p style="border-bottom: 1px solid #ddd ;"><%= reply.author.signature %></p> 
  </div>
 

  <div> 
  	<%- reply.content %>
  </div>

  <div class="text-left text-muted">
  	<%= index + 1 %> 楼  • 发布于 <%= reply.create_ago() %>
  </div> 
  <div class="user_action" >
    <% if (current_user && current_user.is_admin || (current_user && current_user._id == reply.author._id )) { %>
    <a href="/topic/create?type=0" >
      <i class="fa fa-lg fa-trash" title='删除'></i>&nbsp;删除
    </a>
    <% } if (current_user){ %>
    <a href="/topic/create?type=1">
      <i class="fa fa-lg fa-reply" title='删除'></i>&nbsp;回复
    </a>
    <% } %>
  </div> 
</div>
