<div style=" border-top: 1px solid #e5e5e5; ">
  <div > 
    <a href="/user/<%= reply.author.name %>"><img src="/images/avatar.jpg" /></a>
    <a class="text-muted" href="/user/<%= reply.author.name %>"><%= reply.author.name %></a>
    <% if(reply.author.name == topic.author.name){ %>
      <span class="btn-primary">作者</span>
    <% } %> 
 		<span class="pull-right"> 
    <% if (current_user && current_user.is_admin || (current_user && current_user._id == reply.author._id )) { %>
      <a href='javascript:void(0);'><i class="fa fa-trash" title='删除'></i></a>
    <% } %> 
    <% if (current_user){ %>
      <a href='javascript:void(0);'><i class="fa fa-reply" title="回复"></i></a>
    <% } %>
    </span>    
    <p><%= topic.author.signature %></p> 
  </div>
 

  <div style="background: red"> 
  	<%= reply.content %>
  </div>

  <div class="text-right reply_info">
  	<a class="reply_time" href="#<%= reply._id %>"><%= index + 1 %> 楼 • <%= reply.create_at %></a>
  </div>
</div>
