
  <div class="form-group">
    <label class="col-sm-2  control-label">
  	  <img src="/images/book.jpg" style="width: 107px;"></img>
    </label>
    <div class="col-sm-10">
    <ul class="list-unstyled "> 
    	<li><a href="/book/item/<%=book.ISBN%>"><%= book.name %>&nbsp;<small><%= book.subname%></small>
      <% var str_originname=''; 
        if(book.originname.length>0) 
          str_originname+='('+book.originname+')'; %>
      <%=str_originname%>
      </a></li>
      <li><small>
      <% var str_mix1=book.author; 
        if(book.translator.length>0)  str_mix1+=' / '+book.translator;
        var str_mix2 = '';
        if(book.publisher.length>0)   str_mix2+=book.publisher;
        if(book.publishdate.length>0) str_mix2+=' / '+book.publishdate; %>
      <%=str_mix1%>  
      </small></li> 
      <li><small><%=str_mix2%></small></li> 
      <li>ISBN:<%= book.ISBN %></li> 
      <li>简介:
      <% var str_intro = book.intro; 
        if(str_intro.length>=153) 
          str_intro = str_intro.slice(0,150)+'...' %>
        <%=str_intro%> 
      </li>          
    </ul>
    </div>
	</div> 
 